.video-tag__point{
    width: 10px;
    height: 10px;
    background-color: #E30613;
    border-radius: 50%;
    filter: blur(5px);
}

.video-tag:hover  .video-tag__point{
    animation: size 1s ease-in-out alternate infinite;
 }
 
 
 @keyframes size {
     from{
         transform: scale(100%);
     }
 
     to{
         transform: scale(40%);
     }
 }