.video-tag__point{
    width: 0.69vw;
    height: 0.69vw;
    background-color: #E30613;
    border-radius: 50%;
    filter: blur(5px);
}

.project:hover  .video-tag__point{
    animation: size 0.8s ease-in-out alternate infinite;
 }
 
 
 @keyframes size {
     from{
         transform: scale(100%);
     }
 
     to{
         transform: scale(40%);
     }
 }