.title {
    margin: 0 auto;
    margin-top: 64px;
    max-width: 1244px;
    box-sizing: border-box;

    display: flex;
    flex: 1;
    flex-wrap: wrap;
    justify-content: center;
    align-items: baseline;

    height: 100%;  
}


@media screen and (max-width: 1439px) {
    .title  {
        margin-top: 4.44vw;
        max-width: 86.39vw;
        width: calc(100wv - 13.61vw);
    }
}