@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);

@import url(../blocks/page/page.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/*contact*/
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__text/contact__text.css);

/*anchor-button*/
@import url(../blocks/anchor-button/anchor-button.css);
@import url(../blocks/anchor-button/__text/anchor-button__text.css);

/*navigation*/
@import url(../blocks/navigation/navigaion.css);
@import url(../blocks/navigation/__button/navigation__button.css);
@import url(../blocks/navigation/__link/navigation__link.css);
@import url(../blocks/navigation/__list/navigation__list.css);

/*Титул*/
@import url(../blocks/title/title.css);
@import url(../blocks/title/__text/title__text.css);

/*lead*/
@import url(../blocks/lead/lead.css);

/*image*/
@import url(../blocks/image-container/image-container.css);
@import url(../blocks/image-container/__image/image-container__image.css);
@import url(../blocks/image-container/__image/_blured/image-container__image_blured.css);

/*video-tag*/
@import url(../blocks/video-tag/video-tag.css);
@import url(../blocks/video-tag/__point/video-tag__point.css);
@import url(../blocks/video-tag/__text/video-tag__text.css);


p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

}


.tabs {
  font-size: 0;
  max-width: 1246px;
  margin: 0 auto;
  margin-top: 76px;
  width: calc(100% - 204px);
  color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: repeat(7 1fr);
  grid-template-columns: repeat(2 1fr);
  grid-template-areas:
    "label label label label label label label"
    "content content content content content content content";
}

.tabs>input[type="radio"] {
  display: none;
  size: auto;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
}


.tabs__content-container {
  margin: 0;
  display: flex;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  height: 376px;
}

.tabs__lead-block {
  margin: 0;
  padding: 0;
  padding-right: 26px;

  max-width: 732px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid rgba(255, 255, 255, 0.1);
}


.tabs__lead-text {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 706px;

}

.tabs__lead-tags {
  display: flex;

}

.tabs__lead-tags-text {
  margin: 0;
  padding: 4px 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
}


/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5,
#tab-btn-6:checked~#content-6,
#tab-btn-7:checked~#content-7 {
  display: block;
  grid-row: 2;
  grid-area: content;
}

.tabs>label {
  padding: 0;
  margin: 0;
  grid-row: 1;
  display: flex;

  padding-bottom: 36px;

  place-self: center;

  align-items: center;
  user-select: none;
  justify-items: center;

  text-align: center;
  font-size: 16px;
  line-height: 1.25;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}


.tabls>label[tab-btn-1] {
  grid-column: 1;
}


.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  color: rgba(255, 255, 255, 0.6);
}


.tabs__description-container {
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 512px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs__desription-text {
  margin: 0;
  padding-left: 36px;
  padding-top: 36px;

  max-width: 240px;

  align-self: start;
  justify-self: start;

  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

  color: rgba(255, 255, 255, 0.6);
}

.logos {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row-reverse;

  align-self: end;
  justify-self: end;

  gap: -20px;
}

.logos__item {
  width: 72px;
  height: 72px;

  opacity: 0.03;

  background-color: rgba(255, 255, 255);
  box-shadow: 4px 4px 4px rgba(119, 11, 11, 0.952);
  backdrop-filter: blur(15px);

  border-radius: 36px;
}

.projects {
  margin: 0 auto;
  padding: 0;
  display: block;
  margin-top: 196px;

  width: calc(100% - 206px);
  max-width: 1244px;

}

.projects__title {
  max-width: 432px;
}


.projects__section-2 {
  margin-top: 96px;
  width: 100%;
  max-width: 1244px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;

}

.project {
  display: flex;
  flex-direction: column;

  max-width: 860px;
}

.image-container__image_project {
  grid-row: 2;
}

.image-container__image_blured_project {
  grid-row: 2;
}

.project__description {
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 36px;

  color: rgba(255, 255, 255, 0.4);
}

.project__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

}

.project__tags {
  color: rgba(255, 255, 255, 0.2);
}

.projects__section-1 {
  margin: 0 auto;
  margin-top: 148px;
  width: 100%;
  display: grid;
  grid-template-columns: repeat(2, minmax(348px, auto));
  gap: 36px;
  justify-content: space-between;
}

.projects__vertical-descriprion {
  max-width: 348px;
  display: flex;

  justify-content: space-between;

  background-image: url(../images/right__decor.svg);
  background-repeat: no-repeat;
  background-size: contain;
   height: 100%;

   background-position: right;

}

.projects__factoid {

  margin-top: 36px;
  margin-right: 36px;
  margin-bottom: 36px;
  display: flex;
  flex-direction: column;
  gap: 16px;
  width: 100%;


}

.projects__factoid-number {
  font-family: 'Polonium';
  font-weight: 700;
  font-size: 58px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;

  align-self: end;
}


.projects__factoid-text {
  max-width: 140px;
  text-align: right;

  align-self: end;
}

.header-background {
  background-image: url(../images/header-background.svg);
  position: relative;
  width: 100vw;
  height: 816.98px;
  top: -80px;
  z-index: 0;
  background-repeat: no-repeat;
  margin: 0 auto;

}