@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);




@import url(../blocks/page/page.css);



/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);

/*contact*/
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__text/contact__text.css);

/*anchor-button*/
@import url(../blocks/anchor-button/anchor-button.css);
@import url(../blocks/anchor-button/__text/anchor-button__text.css);

/*navigation*/
@import url(../blocks/navigation/navigaion.css);
@import url(../blocks/navigation/__button/navigation__button.css);
@import url(../blocks/navigation/__link/navigation__link.css);
@import url(../blocks/navigation/__list/navigation__list.css);

/*Титул*/
@import url(../blocks/title/title.css);
@import url(../blocks/title/__text/title__text.css);

/*lead*/
@import url(../blocks/lead/lead.css);

/*image*/
@import url(../blocks/image-container/image-container.css);
@import url(../blocks/image-container/__image/image-container__image.css);
@import url(../blocks/image-container/__image/_blured/image-container__image_blured.css);

/*video-tag*/
@import url(../blocks/video-tag/video-tag.css);
@import url(../blocks/video-tag/__point/video-tag__point.css);
@import url(../blocks/video-tag/__text/video-tag__text.css);



a {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  letter-spacing: 0.015em;

  color: rgba(255, 255, 255, 0.2);

}


* {
  outline: none;
  border-width: 0;
}



p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

}


a {
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  letter-spacing: 0.015em;
  text-decoration-line: underline;

  color: rgba(255, 255, 255, 0.2);

}


* {
  outline: none;
  border-width: 0;
}



p {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

}




.tabs {
  font-size: 0;
  max-width: 1246px;
  margin: 0 auto;
  margin-top: 76px;
  width: calc(100% - 204px);
  color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: repeat(7 1fr);
  grid-template-columns: repeat(2 1fr);
  grid-template-areas:
    "label label label label label label label"
    "content content content content content content content";
}

.tabs>input[type="radio"] {
  display: none;
  size: auto;
}

.tabs>div {
  /* скрыть контент по умолчанию */
  display: none;
}


.tabs__content-container {
  margin: 0;
  display: flex;

  border-top: 1px solid rgba(255, 255, 255, 0.1);

  height: 376px;
}

.tabs__lead-block {
  margin: 0;
  padding: 0;
  padding-right: 26px;

  max-width: 732px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;

  border-right: 1px solid rgba(255, 255, 255, 0.1);
}


.tabs__lead-text {
  margin: 0;
  padding: 0;
  padding-top: 36px;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
  max-width: 706px;

}

.tabs__lead-tags {
  display: flex;

}

.tabs__lead-tags-text {
  margin: 0;
  padding: 4px 8px;

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  letter-spacing: 0.015em;
}


/* отобразить контент, связанный с вабранной радиокнопкой (input type="radio") */
#tab-btn-1:checked~#content-1,
#tab-btn-2:checked~#content-2,
#tab-btn-3:checked~#content-3,
#tab-btn-4:checked~#content-4,
#tab-btn-5:checked~#content-5,
#tab-btn-6:checked~#content-6,
#tab-btn-7:checked~#content-7 {
  display: block;
  grid-row: 2;
  grid-area: content;
}

.tabs>label {
  padding: 0;
  margin: 0;
  grid-row: 1;
  display: flex;

  padding-bottom: 36px;

  place-self: center;

  align-items: center;
  user-select: none;
  justify-items: center;

  text-align: center;
  font-size: 16px;
  line-height: 1.25;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}


.tabls>label[tab-btn-1] {
  grid-column: 1;
}


.tabs>label:not(:first-of-type) {
  border-left: none;
}

.tabs>input[type="radio"]:checked+label {
  color: rgba(255, 255, 255, 0.6);
}


.tabs__description-container {
  margin: 0;
  padding: 0;

  width: 100%;
  max-width: 512px;

  display: flex;
  flex-direction: column;
  justify-content: space-between;
}

.tabs__desription-text {
  margin: 0;
  padding-left: 36px;
  padding-top: 36px;

  max-width: 240px;

  align-self: start;
  justify-self: start;

  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

  color: rgba(255, 255, 255, 0.6);
}

.logos {
  margin: 0;
  padding: 0;

  display: flex;
  flex-direction: row-reverse;

  align-self: end;
  justify-self: end;

  gap: -20px;
}

.logos__item {
  width: 72px;
  height: 72px;

  opacity: 0.03;

  background-color: rgba(255, 255, 255);
  box-shadow: 4px 4px 4px rgba(119, 11, 11, 0.952);
  backdrop-filter: blur(15px);

  border-radius: 36px;
}




.projects {
  margin: 0 auto;
  padding: 0;
  display: block;
  margin-top: 196px;

  width: calc(100% - 206px);
  max-width: 1244px;

}

.projects__title {
  max-width: 432px;
}




.project {
  display: flex;
  flex-direction: column;

  max-width: 860px;
}

.image-container__image_project {
  grid-row: 2;

  border-radius: 16px;

  position: relative;
  z-index: 2;
}

.image-container__image_blured_project {
  grid-row: 2;
  position: relative;
  z-index: 0;

  filter: blur(30px);
}

.project__description {
  width: 100%;

  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 36px;

  color: rgba(255, 255, 255, 0.4);
}

.project__text {
  margin: 0;
  padding: 0;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;
  letter-spacing: 0.015em;

}

.project__tags {
  color: rgba(255, 255, 255, 0.2);
}


.video{
  width: 100%;
  height: 100%;
  max-width: 604px;
  
}

.svg {
  display: flex;

  max-width: 604px;
  width: 100%;
  height: 100%;
  margin: 0;

	}

.g{
  width: 100%;
  height: 100%;
}

.projects__section-1 {
  margin: 0 auto;
  margin-top: 148px;
  width: 100%;
  height: auto;
  display: grid;
  grid-template-columns: minmax(min-content, max-content) minmax(140px, 348px);
  grid-template-columns: 100%;
  grid-auto-flow: dense;
  gap: 36px;
  justify-content: space-between;
}

.projects__section-2 {
  margin-top: 96px;
  width: 100%;
  max-width: 1244px;

  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;

}


.projects__vertical-descriprion-1 {
  padding: 36px;

  max-width: 348px;
  display: flex;

  justify-content: space-between;

  background-image: url(../images/right__decor.svg);
  background-repeat: no-repeat;
  background-size: contain;

  background-position: right;

}

.projects__vertical-descriprion-2 {
  padding-left: 36px;

  max-width: 348px;
  display: flex;
  flex-direction: column;

  justify-content: space-between;

  background-image: url(../images/left-figure.svg);
  background-repeat: no-repeat;
  background-size: contain;

  background-position: left;

}

.projects__section-3 {
  margin-top: 96px;
  width: 100%;
  max-width: 1244px;

  display: grid;
  grid-template-columns: minmax(140px, 348px) auto;
  gap: 36px;
}

.left {
  text-align: left;
  align-items: start;
  align-content: start;
  justify-items: start;
}

.right {
  text-align: right;
  align-items: end;
  align-content: end;
  justify-items: end;

}

.projects__factoid {

  display: flex;
  flex-direction: column;
  gap: 16px;

  width: 100%;
  max-width: 348px;

  box-sizing: border-box;
}

.projects__factoid-number {
  font-family: 'Polonium';
  font-weight: 700;
  font-size: 58px;
  line-height: 110%;
  text-align: center;
  letter-spacing: 0.085em;
  text-transform: uppercase;

}


.projects__factoid-text {
  text-align: left;

}


.quote {
  margin: 0;
  margin-top: 180px;
  padding: 0;
  width: 100%;

  display: flex;
  flex-direction: column;
  gap: 36px;

  align-items: center;
}

.quote__figure {
  width: 100%;
  height: auto;

  background-repeat: no-repeat;
}

.quote__text {
  margin: 0 auto;
  padding: 0;

  max-width: 900px;

  text-align: center;
  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;
}


.quote__author {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 16px;

  text-align: center;
}


.quote__portraint {
  display: grid;

  max-width: 72px;
  max-height: 72px;

  grid-template-columns: repeat(1 1fr);
  grid-row: 1;
  grid-column: 1;
}


.quote__portraint-photo {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 3;
  top: 0px;
  left: 0px;
  grid-row: 1;
  grid-column: 1;
}


.quote__portraint-photo_blured {
  margin: 0;
  padding: 0;
  position: relative;
  z-index: 2;
  filter: blur(38px);
  grid-row: 1;
  grid-column: 1;
  top: 0;
  left: 0;
}





.header-background {
  background-image: url(../images/header-background.svg);
  position: relative;
  width: 100vw;
  height: 816.98px;
  top: -80px;
  z-index: 0;
  background-repeat: no-repeat;
  margin: 0 auto;

}



.footer {
  margin: 0 auto;
  margin-top: 180px;

  max-width: 1246px;
  width: calc(100% - 204px);

  display: grid;
  grid-template-rows: repeat(4 auto);

  border-top: 1px solid rgba(255, 255, 255, 0.1);
}


.footer__head {

  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  justify-content: space-between;
  text-align: center;
  align-items: end;
  align-content: end;
  justify-items: end;

  grid-row: 1;

}

.contact_footer {
  justify-self: center;
}

.footer__form-header {
  margin: 0 auto;
  padding: 0;
  padding-top: 29px;

  width: 100%;

  font-weight: 400;
  font-size: 40px;
  line-height: 125%;
  letter-spacing: -0.01em;
  text-transform: uppercase;

  justify-self: start;

  text-align: left;

  border-right: 1px solid rgba(255, 255, 255, 0.1);
}

.footer__body {
  margin-top: 74px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
  gap: 36px;
}

ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
}

.footer__form {
  margin: 0;
  padding: 22px 22px 32px;

  max-width: 396px;

  display: flex;
  flex-direction: column;

  background-image: url(../images/FON.svg);
  background-size: cover;
  background-repeat: no-repeat;

  list-style-type: none;

  box-sizing: border-box;
}

* {
  outline: none;
}

.footer__form-input {
  width: 100%;
  outline: none;
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 35px 0px 11px;

  border-bottom: 1px solid rgba(255, 255, 255, 0.03);

  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Прозрачность/10 */

  color: rgba(255, 255, 255, 0.4);

  background-color: none;

  background: none;
}

.footer__form-buttons {
  font-size: 16px;
  color: rgba(255, 255, 255, 0.2);
  display: grid;
  grid-template-columns: repeat(7 1fr);
}


.footer__form-buttons>input[type="radio"] {
  display: none;
}

.footer__form-buttons>label {
  padding: 0;
  margin: 0;
  grid-row: 1;
  display: flex;
  flex-grow: 0;


  border: 1px solid rgba(255, 255, 255, 0.2);
  border-radius: 51px;


  justify-content: center;
  align-items: center;
  padding: 6px 12px;

  text-align: center;
  font-size: 16px;
  line-height: 1.25;

  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out;
  cursor: pointer;
}

.footer__form-buttons>input[type="radio"]:checked+label {
  color: #1C1C1C;
  background: rgba(255, 255, 255, 0.4);
}

.footer__buttons-header {
  margin: 0;
  padding: 0;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Прозрачность/10 */

  color: rgba(255, 255, 255, 0.1);

  border: none;
}


.footer__buttons-container {
  display: flex;
  flex-direction: column;
  padding: 35px 0px 0px;
  gap: 12px;
}

.footer__authors {
  margin-top: 48px;
  display: grid;
  grid-template-columns: 1fr 1fr;
  gap: 36px;
}

.footer__author {
  display: flex;
  flex-direction: column;
  gap: 24px;
}


.footer__author-link {
  margin-top: 65px;
}

.footer__policy {
  margin-top: 144px;
  padding-left: 18px;
}


.footer__policy-link {
  margin: 0 auto;

}

.footer__buttons-contairer {
  margin-top: 32px;
  display: grid;
  grid-template-columns: 1fr 1fr 0.5fr;
}


.footer__form-button {

  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  border-radius: 0;

  display: flex;
  justify-content: center;
  align-items: center;

  gap: 10px;
  height: 72px;
  width: 100%;
  max-width: 398px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;

  background: none;

  color: rgba(255, 255, 255, 0.6);

}

.footer__form-button:hover {
  border: 1px solid rgba(255, 255, 255, 0.2);

}

.footer__form-button:active {
  border: none;
  background-color: rgba(255, 255, 255, 0.1);
}

.footer__bottom {
  margin-top: 80px;
  margin-bottom: 36px;
  display: grid;
  grid-template-columns: 0.5fr 1fr 0.5fr;
  gap: 36px;

  color: rgba(255, 255, 255, 0.2);
}


.footer__logo {
  justify-self: start;
  align-self: center;

  max-width: 152px;
}

.pavlushin {
  justify-self: center;
  align-self: center;

  text-transform: uppercase;

  text-decoration: none;

  font-size: 12px;
}

.copyright {
  justify-self: end;
  align-self: center;
}



h2 {
  margin: 0;
  padding: 0;

  font-family: 'JetBrains Mono';
  font-style: normal;
  font-weight: 500;
  font-size: 16px;
  line-height: 125%;

  letter-spacing: 0.015em;
  text-transform: uppercase;

  color: rgba(255, 255, 255, 0.6);

}



.portfolio {
  max-width: 1244px;
  margin: 0 auto;
  margin-top: 58px;
  width: calc(100% - 192px);

  display: grid;
  grid-template-columns: 0.4285fr 1fr;
  gap: 36px;

  box-sizing: border-box;
}

.portfolio__left {
  display: flex;
  flex-direction: column;

  max-width: 348px;

  gap: 48px;


}

.tags__container{
  display: flex;
  flex-direction: column;
  gap: 16px;
}


.portfolio__right {
  max-width: 860px;
}

.portfolio__category-header {
  font-weight: 500;
  font-size: 16px;
  line-height: 20px;
  /* identical to box height, or 125% */

  letter-spacing: 0.015em;
  text-transform: uppercase;

  /* Прозрачность/20 */

  color: rgba(255, 255, 255, 0.2);

}

.portfolio__categories {
  display: flex;
  flex-wrap: wrap;

  gap: 8px;

  max-width: 242px;

}


.stiky{
  position: sticky;
  top: 2em;

  display: flex;
  flex-direction: column;
  gap: 48px;
}

.portfolio__category {
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  border-radius: 0;

  justify-content: center;
  align-items: center;
  padding: 6px 12px;
  gap: 8px;

  border: 1px solid rgba(255, 255, 255, 0.1);
  border-radius: 16px;

  background: none;

  color: rgba(255, 255, 255, 0.6);

}


.portfolio__category:hover {
  border: 1px solid rgba(255, 255, 255, 0.4);

}

.portfolio__category:active {
  color: #1C1C1C;
  border: 1px solid rgba(255, 255, 255, 0);
  background-color: rgba(255, 255, 255, 0.6);
}

.portfolio__tag{
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;

  border: 0;
  border-radius: 0;

  justify-content: center;
  align-items: center;
  padding: 4px 0px;

  border: 1px solid rgba(255, 255, 255, 0);

  background: none;

  color: rgba(255, 255, 255, 0.2);
}

.portfolio__tag:hover {
  color: rgba(255, 255, 255, 0.4);

}

.portfolio__tag:active {
  color: rgba(255, 255, 255, 0.6);
}


.portfolio__title {
  margin: 0;
  padding: 0;
  height: auto;
  background-size: cover;
  background-repeat: none;
}


.portfolio__content {
  margin-top: 72px;

  display: grid;
  grid-template-columns: repeat(2, 1fr);
  gap: 36px;

  grid-auto-rows: auto;
  grid-auto-columns: auto;
  grid-auto-flow: row;

  max-width: 860px;
}

.portfolio__project-2 {
  display: flex;
  flex-direction: column;

  gap: 16px;

  max-width: 412px;
}

.portfolio__project-1 {
  display: flex;
  flex-direction: column;

  gap: 16px;

  grid-column-start: 1;
  grid-column-end: -1;

  max-width: 860px;
}