@import url(../vendor/normalize.css);
@import url(../fonts/fonts.css);


@import url(../blocks/page/page.css);

/*header*/
@import url(../blocks/header/header.css);
@import url(../blocks/header/__logo/header__logo.css);



/*contact*/
@import url(../blocks/contact/contact.css);
@import url(../blocks/contact/__text/contact__text.css);

/*anchor-button*/
@import url(../blocks/anchor-button/anchor-button.css);
@import url(../blocks/anchor-button/__text/anchor-button__text.css);

/*navigation*/
@import url(../blocks/navigation/navigaion.css);
@import url(../blocks/navigation/__button/navigation__button.css);
@import url(../blocks/navigation/__link/navigation__link.css);
@import url(../blocks/navigation/__list/navigation__list.css);


.title{
    display: block;
    margin:0 auto;
    width:calc(100vw - 206px);
    margin-top: 64px;
}


.title__text{
    margin: 0;
    padding: 0;
    width: 100%;
    height: auto;
    background-size: cover;
    background-repeat: none;
}

.lead{
    margin: 0 auto;
    padding: 0;
    margin-top: 64px;
    display: grid;
    width: calc(100vw - 206px);
    grid-template-columns: repeat(1 1fr);
}

.image-container{
    display: grid;
    width: 100%;
    height: auto;
    grid-template-columns: repeat(1 1fr);

    grid-row: 1;
    grid-column: 1;
}

.lead__image{
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 3;
    top: 0px;
    left: 0px;
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

.lead__image_blured{
    margin: 0;
    padding: 0;
    position: relative;
    z-index: 2;
    filter: blur(75px);
    grid-row: 1;
    grid-column: 1;
    width: 100%;
}

.video-tag{
    margin: 0;
    padding: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 6px 12px 6px 15px;
    gap: 11px;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 16px;

    justify-self: start;
    align-self: start;
    grid-row: 1;
    grid-column: 1;

    position: relative;
    z-index: 4;

    text-decoration-line: none;

}

.video-tag__point{
    width: 10px;
    height: 10px;
    background-color: #E30613;
    border-radius: 50%;
    filter: blur(5px);
}

.video-tag:hover  .video-tag__point{
   animation: size 1s ease-in-out alternate infinite;
}


@keyframes size {
    from{
        transform: scale(100%);
    }

    to{
        transform: scale(40%);
    }
}


.video-tag__text{
    margin: 0;
    padding: 0;

    color: rgba(255, 255, 255, 0.4);

    font-weight: 500;
    font-size: 16px;
    line-height: 125%;
    letter-spacing: 0.015em;
    text-transform: uppercase;
}


.header-background {
    background-image: url(../images/header-background.svg);
    position: relative;
    width: 100vw;
    height: 816.98px;
    top: -80px;
    z-index: 0;
    background-repeat: no-repeat;
    margin: 0 auto;

}