.video-tag {
    margin: 0;

    display: flex;
    justify-content: center;
    align-items: center;
    padding: 0.42vw 0.83vw 0.42vw 1.04vw;
    gap: 0.76vw;

    border: 1px solid rgba(255, 255, 255, 0.1);
    border-radius: 20px;

    justify-self: start;
    align-self: start;
    grid-row: 1;
    grid-column: 1;

    position: relative;
    z-index: 4;

    text-decoration-line: none;

    text-transform: uppercase;


}